DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
DIV {
	OVERFLOW: hidden
}
BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; MARGIN-LEFT: -15px; COLOR: #afafaf; FONT-FAMILY: Trebuchet MS,sans-serif
}
A {
	FONT-SIZE: 11px; COLOR: #afafaf; FONT-FAMILY: Trebuchet MS,sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c5003d
}
DIV.header {
	OVERFLOW: visible; WIDTH: 100%; POSITION: relative; HEIGHT: 57px
}
DIV.header DIV.trim {
	MARGIN: 0px 0px 0px 134px; BORDER-BOTTOM: #afafaf 1px solid; HEIGHT: 35px
}
DIV.header IMG.logo {
	LEFT: 30px; WIDTH: 81px; POSITION: absolute; TOP: 15px; HEIGHT: 39px
}
DIV.header DIV.mainnav {
	LEFT: 126px; OVERFLOW: visible; TEXT-TRANSFORM: uppercase; WIDTH: 450px; POSITION: absolute; TOP: 43px
}
DIV.header DIV.mainnav UL LI {
	BORDER-RIGHT: #c5003d 2px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.header DIV.mainnav UL LI.last {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px
}
DIV.header DIV.mainnav UL LI A {
	COLOR: #3d3e3f
}
DIV.header DIV.mainnav UL LI A:hover {
	COLOR: #c5003d
}
DIV.header DIV.topnav {
	LEFT: 0px; OVERFLOW: visible; TEXT-TRANSFORM: uppercase; WIDTH: 786px; POSITION: absolute; TOP: 15px
}
DIV.header DIV.topnav DIV {
	RIGHT: 0px; OVERFLOW: visible; POSITION: absolute
}
DIV.header DIV.topnav UL LI {
	BORDER-RIGHT: #afafaf 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.header DIV.topnav UL LI.last {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px
}
DIV.header DIV.topnav UL LI SPAN {
	COLOR: #c5003d
}
DIV.header DIV.search {
	LEFT: 488px; OVERFLOW: visible; WIDTH: 300px; POSITION: absolute; TOP: 37px; HEIGHT: 20px
}
DIV.header DIV.search LABEL {
	RIGHT: 145px; TEXT-TRANSFORM: uppercase; POSITION: absolute; TOP: 6px
}
DIV.header DIV.search INPUT.text {
	BORDER-RIGHT: #afafaf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #afafaf 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; RIGHT: 19px; PADDING-BOTTOM: 1px; BORDER-LEFT: #afafaf 1px solid; WIDTH: 116px; COLOR: #afafaf; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #afafaf 1px solid; FONT-FAMILY: Trebuchet MS,sans-serif; POSITION: absolute; TOP: 5px; HEIGHT: 15px
}
DIV.header DIV.search INPUT.submit {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; RIGHT: 0px; BORDER-LEFT: 0px; WIDTH: 15px; BORDER-BOTTOM: 0px; POSITION: absolute; TOP: 7px; HEIGHT: 13px
}
DIV.footer {
	TEXT-TRANSFORM: uppercase; WIDTH: 986px; POSITION: relative; HEIGHT: 35px
}
DIV.footer H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LEFT: 41px; COLOR: #c5003d; POSITION: absolute; TOP: 14px
}
DIV.footer UL {
	RIGHT: 0px; POSITION: absolute; TOP: 13px
}
DIV.footer UL LI {
	BORDER-RIGHT: #afafaf 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.footer UL LI.last {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px
}
DIV.container {
	MARGIN: 0px 0px 0px 30px; WIDTH: 956px; POSITION: relative; HEIGHT: 660px
}
DIV.container DIV.hero {
	LEFT: 0px; POSITION: absolute; TOP: 5px
}
DIV.links {
	BORDER-RIGHT: #e4e4e4 1px solid; LEFT: 0px; OVERFLOW: visible; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 198px; BOTTOM: 0px; BORDER-BOTTOM: #e4e4e4 1px solid; POSITION: absolute; HEIGHT: 204px
}
DIV.links H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND: #5d585c; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px
}
DIV.links UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.links UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../img/home/icon-bullet-list.jpg) no-repeat 0px 5px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 16px
}
DIV.links UL LI H5 {
	FONT-SIZE: 11px
}
DIV.links UL LI.form {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; POSITION: relative; HEIGHT: 26px
}
DIV.links UL LI.form INPUT.text {
	BORDER-RIGHT: #afafaf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #afafaf 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 12px; BORDER-LEFT: #afafaf 1px solid; WIDTH: 138px; COLOR: #afafaf; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #afafaf 1px solid; FONT-FAMILY: Trebuchet MS,sans-serif
}
DIV.links UL LI.form INPUT.submit {
	DISPLAY: block; LEFT: 154px; WIDTH: 18px; POSITION: absolute; TOP: 2px; HEIGHT: 18px
}
DIV.links DIV.scroller {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; OVERFLOW: visible; PADDING-TOP: 5px; POSITION: relative
}
DIV.links DIV.scroller H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #afafaf
}
DIV.links DIV.scroller DIV {
	OVERFLOW: hidden; WIDTH: 170px; POSITION: relative; HEIGHT: 50px
}
DIV.links DIV.scroller UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: relative
}
DIV.links DIV.scroller UL LI {
	HEIGHT: auto
}
DIV.links DIV.scroller IMG.up {
	RIGHT: 7px; WIDTH: 12px; CURSOR: pointer; POSITION: absolute; TOP: 6px; HEIGHT: 12px
}
DIV.links DIV.scroller IMG.down {
	RIGHT: 7px; WIDTH: 12px; CURSOR: pointer; POSITION: absolute; TOP: 65px; HEIGHT: 12px
}
.hr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px 5px; WIDTH: 187px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #ccc
}
DIV.links UL LI.dropdown {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 9px; BACKGROUND: url(../img/home/icon-arrow-down.jpg) #fff no-repeat 161px 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 167px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TOP: 30px; HEIGHT: 14px
}
DIV.links UL LI.hover {
	BACKGROUND: url(../img/home/icon-arrow-down-red.jpg) #fff no-repeat 161px 0px
}
DIV.links UL LI.dropdown SPAN {
	DISPLAY: block; CURSOR: pointer
}
DIV.links UL LI.dropdown UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
DIV.links UL LI.dropdown UL LI.hr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px; HEIGHT: 11px
}
DIV.links UL LI.dropdown UL LI.hr DIV.hr {
	MARGIN: 0px; WIDTH: 160px
}
UL.multidropdown UL {
	DISPLAY: none
}
UL.multidropdown UL LI.title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.multidropdown UL LI.hr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px; HEIGHT: 11px
}
UL.multidropdown UL LI.title H5 {
	FONT-SIZE: 11px
}
UL.multidropdown UL LI.hr DIV.hr {
	Z-INDEX: 1; MARGIN: 0px; WIDTH: 160px
}
DIV.links UL LI.title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.content {
	RIGHT: 0px; OVERFLOW: visible; TEXT-TRANSFORM: uppercase; WIDTH: 753px; BOTTOM: 0px; POSITION: absolute; HEIGHT: 215px
}
DIV.content UL.selector {
	LEFT: 0px; WIDTH: 900px; POSITION: absolute; TOP: 0px; HEIGHT: 20px
}
DIV.content UL.selector LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #c5003d; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 239px; COLOR: #fff; LINE-HEIGHT: 20px; MARGIN-RIGHT: 3px; PADDING-TOP: 10px; POSITION: relative; HEIGHT: 20px
}
DIV.content UL.selector LI DIV.shutter {
	LEFT: 0px; WIDTH: 259px; POSITION: absolute; TOP: 0px; HEIGHT: 10px; BACKGROUND-COLOR: #fff
}
DIV.content DIV.holder {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../img/home/bg-content.jpg) repeat-x; PADDING-BOTTOM: 10px; MARGIN: 0px; BORDER-LEFT: #e4e4e4 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e4e4e4 1px solid; POSITION: relative; TOP: 30px; HEIGHT: 164px
}
DIV.holder UL.products {
	LEFT: 0px; MARGIN: 30px 0px 0px 7px; OVERFLOW: hidden; WIDTH: 747px; POSITION: absolute; TOP: 240px; HEIGHT: 153px
}
DIV.holder UL.products LI {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 168px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 94px
}
DIV.holder UL.products LI H2 {
	FONT-SIZE: 12px; MARGIN: 5px 0px 2px; WIDTH: 93px; COLOR: #c5003d; LINE-HEIGHT: 12px
}
DIV.holder UL.products LI H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; LEFT: 8px; POSITION: absolute; TOP: 120px
}
DIV.holder UL.products LI H4 A {
	FONT-SIZE: 10px; TEXT-DECORATION: underline
}
DIV.holder UL.products LI P {
	MARGIN-BOTTOM: 20px; TEXT-TRANSFORM: none; WIDTH: 93px; LINE-HEIGHT: 14px
}
DIV.holder UL.products LI P A {
	TEXT-DECORATION: underline
}
DIV.holder UL.products LI IMG {
	RIGHT: 8px; WIDTH: 75px; POSITION: absolute; TOP: 0px; HEIGHT: 117px
}
DIV.holder UL.promotions {
	LEFT: 0px; MARGIN: 35px 0px 0px 7px; OVERFLOW: hidden; WIDTH: 747px; POSITION: absolute; TOP: 240px; HEIGHT: 148px
}
DIV.holder UL.promotions LI {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 168px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 94px
}
DIV.holder UL.promotions LI P {
	TEXT-TRANSFORM: none; WIDTH: 93px
}
DIV.holder UL.promotions LI P A {
	TEXT-DECORATION: underline
}
DIV.holder UL.promotions LI IMG {
	RIGHT: 8px; WIDTH: 75px; POSITION: absolute; TOP: 0px; HEIGHT: 117px
}
DIV.holder UL.news {
	MARGIN-TOP: 31px; LEFT: 12px; OVERFLOW: hidden; TEXT-TRANSFORM: none; WIDTH: 739px; POSITION: absolute; TOP: 240px; HEIGHT: 152px
}
DIV.holder UL.news LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../img/home/icon-arrow-list.png) no-repeat 0px 2px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
DIV.holder UL.news LI.more {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-TRANSFORM: uppercase; PADDING-TOP: 13px
}
DIV.holder UL.news LI.more A {
	TEXT-DECORATION: underline
}
DIV.holder UL.categories {
	LEFT: 0px; MARGIN: 35px 0px 0px 7px; OVERFLOW: visible; WIDTH: 747px; POSITION: absolute; TOP: 240px; HEIGHT: 148px
}
DIV.holder UL.categories LI {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-LEFT: 10px; FLOAT: left; WIDTH: 174px; POSITION: relative; HEIGHT: 94px
}
DIV.holder UL.categories LI.title A {
	COLOR: #c5003d
}
DIV.holder UL.categories LI IMG {
	RIGHT: 0px; WIDTH: 100px; POSITION: absolute; TOP: -20px; HEIGHT: 155px
}
DIV.holder UL.categories LI UL {
	LEFT: 2px; POSITION: absolute; TOP: -10px
}
DIV.holder UL.categories LI UL LI {
	BORDER-RIGHT: #e4e4e4 1px solid; BORDER-TOP: 0px; DISPLAY: none; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 125px; BORDER-BOTTOM: 0px; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
DIV.holder UL.categories LI UL LI.title {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px; WIDTH: 95px; CURSOR: pointer; COLOR: #c5003d; PADDING-TOP: 5px; BORDER-BOTTOM: 0px; HEIGHT: 30px; BACKGROUND-COLOR: transparent
}
DIV.holder UL.categories LI UL LI.title H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px
}
DIV.holder UL.categories LI UL LI UL LI {
	WIDTH: 160px
}
DIV.holder UL.categories LI UL LI UL {
	LEFT: 135px; BOTTOM: 0px; POSITION: absolute
}
DIV.holder UL.pager {
	RIGHT: 5px; BOTTOM: 1px; POSITION: absolute
}
DIV.holder UL.pager LI {
	FONT-SIZE: 10px; FLOAT: left; CURSOR: pointer; COLOR: #5c585c; MARGIN-RIGHT: 10px
}
DIV.holder UL.pager LI.active {
	FONT-SIZE: 12px; CURSOR: default; COLOR: #cd2c3a
}
