FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
DIV {
	OVERFLOW: hidden
}
BODY {
	MARGIN-TOP: 0px; SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #c3c3c3; MARGIN-LEFT: -15px; SCROLLBAR-SHADOW-COLOR: #c3c3c3; COLOR: #afafaf; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #c3c3c3; FONT-FAMILY: Trebuchet MS,sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #c3c3c3; SCROLLBAR-BASE-COLOR: #ffffff
}
A {
	FONT-SIZE: 11px; COLOR: #afafaf; FONT-FAMILY: Trebuchet MS,sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c5003d
}
DIV.header {
	OVERFLOW: visible; WIDTH: 100%; POSITION: relative; HEIGHT: 57px
}
DIV.header DIV.trim {
	MARGIN: 0px 0px 0px 134px; BORDER-BOTTOM: #afafaf 1px solid; HEIGHT: 35px
}
DIV.header IMG.logo {
	LEFT: 30px; WIDTH: 81px; POSITION: absolute; TOP: 15px; HEIGHT: 39px
}
DIV.header DIV.mainnav {
	LEFT: 126px; OVERFLOW: visible; TEXT-TRANSFORM: uppercase; WIDTH: 450px; POSITION: absolute; TOP: 43px
}
DIV.header DIV.mainnav UL LI {
	BORDER-RIGHT: #c5003d 2px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.header DIV.mainnav UL LI.last {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px
}
DIV.header DIV.mainnav UL LI A {
	COLOR: #3d3e3f
}
DIV.header DIV.mainnav UL LI A:hover {
	COLOR: #c5003d
}
DIV.header DIV.topnav {
	LEFT: 0px; OVERFLOW: visible; TEXT-TRANSFORM: uppercase; WIDTH: 786px; POSITION: absolute; TOP: 15px
}
DIV.header DIV.topnav DIV {
	RIGHT: 0px; OVERFLOW: visible; POSITION: absolute
}
DIV.header DIV.topnav UL LI {
	BORDER-RIGHT: #afafaf 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.header DIV.topnav UL LI.last {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px
}
DIV.header DIV.topnav UL LI SPAN {
	COLOR: #c5003d
}
DIV.header DIV.search {
	LEFT: 488px; OVERFLOW: visible; WIDTH: 300px; POSITION: absolute; TOP: 37px; HEIGHT: 20px
}
DIV.header DIV.search LABEL {
	RIGHT: 145px; TEXT-TRANSFORM: uppercase; POSITION: absolute; TOP: 6px
}
DIV.header DIV.search INPUT.text {
	BORDER-RIGHT: #afafaf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #afafaf 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; RIGHT: 19px; PADDING-BOTTOM: 1px; BORDER-LEFT: #afafaf 1px solid; WIDTH: 116px; COLOR: #afafaf; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #afafaf 1px solid; FONT-FAMILY: Trebuchet MS,sans-serif; POSITION: absolute; TOP: 5px; HEIGHT: 15px
}
DIV.header DIV.search INPUT.submit {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; RIGHT: 0px; BORDER-LEFT: 0px; WIDTH: 15px; BORDER-BOTTOM: 0px; POSITION: absolute; TOP: 7px; HEIGHT: 13px
}
DIV.footer {
	TEXT-TRANSFORM: uppercase; WIDTH: 986px; POSITION: relative; HEIGHT: 35px
}
DIV.footer H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LEFT: 41px; COLOR: #c5003d; POSITION: absolute; TOP: 14px
}
DIV.footer UL {
	RIGHT: 0px; POSITION: absolute; TOP: 13px
}
DIV.footer UL LI {
	BORDER-RIGHT: #afafaf 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.footer UL LI.last {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px
}
.blackArial11px {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.blackArial11pxsush1 {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 11px; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.blackArial11pxsush1_arena {
	FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 11px; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.reviewlable {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.cookie_search_border {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.highlightit IMG {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=70); moz-opacity: 0.6
}
.highlightit:hover IMG {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=100); moz-opacity: 1
}
.txtGreypx {
	FONT-SIZE: 11px; COLOR: #7e7e7e; LINE-HEIGHT: 16px; FONT-FAMILY: Arial
}
.whit_txt {
	FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: Arial
}
.txtGreypx-01 {
	FONT-SIZE: 11px; COLOR: #cc0066; LINE-HEIGHT: 16px; FONT-FAMILY: Arial
}
.txtGreypx-02 {
	FONT-SIZE: 11px; COLOR: #cc0066; LINE-HEIGHT: 16px; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.faqs2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #732842; LINE-HEIGHT: 16px; FONT-FAMILY: Arial; TEXT-ALIGN: justify
}
A.faqs2:link {
	COLOR: #732842; TEXT-DECORATION: underline
}
A.faqs2:visited {
	COLOR: #732842; TEXT-DECORATION: underline
}
A.faqs2:hover {
	COLOR: #732842; TEXT-DECORATION: none
}
A.faqs2:active {
	COLOR: #732842; TEXT-DECORATION: none
}
.faqs {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc0066; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana; TEXT-ALIGN: justify
}
A.faqs:link {
	COLOR: #cc0066; TEXT-DECORATION: underline
}
A.faqs:visited {
	COLOR: #cc0066; TEXT-DECORATION: underline
}
A.faqs:hover {
	COLOR: #cc0066; TEXT-DECORATION: none
}
A.faqs:active {
	COLOR: #cc0066; TEXT-DECORATION: none
}
.cookie_head {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc0066; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana
}
A.faqs:link {
	COLOR: #cc0066; TEXT-DECORATION: underline
}
A.faqs:visited {
	COLOR: #cc0066; TEXT-DECORATION: underline
}
A.faqs:hover {
	COLOR: #cc0066; TEXT-DECORATION: none
}
A.faqs:active {
	COLOR: #cc0066; TEXT-DECORATION: none
}
.faqs1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc0066; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana
}
A.faqs:link {
	COLOR: #cc0066; TEXT-DECORATION: none
}
A.faqs:visited {
	COLOR: #cc0066; TEXT-DECORATION: underline
}
A.faqs:hover {
	COLOR: #cc0066; TEXT-DECORATION: none
}
A.faqs:active {
	COLOR: #cc0066; TEXT-DECORATION: none
}
#right_dealer_scroll {
	MARGIN-TOP: 52px; MARGIN-LEFT: 16px; OVERFLOW: auto; WIDTH: 500px; HEIGHT: 232px
}
A.txtGreypx-02:hover {
	FONT-SIZE: 11px; COLOR: #cc0066; LINE-HEIGHT: 16px; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.leftNavPink {
	FONT-SIZE: 11px; COLOR: #ad0053; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.textarea {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 0px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.pageNavigation {
	FONT-SIZE: 11px; COLOR: #907d86; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.BG-Pink {
	BACKGROUND-COLOR: #cc0066
}
.BG-White {
	BACKGROUND-COLOR: #ffffff
}
.BG-Black {
	BACKGROUND-COLOR: #000000
}
.greyVerd11px {
	FONT-SIZE: 11px; COLOR: #555555; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.greyArial11px {
	FONT-SIZE: 11px; COLOR: #555555; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.pinkArial11px {
	FONT-SIZE: 11px; COLOR: #cc0066; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.blackArial11px {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.cookie_know_more {
	FONT-SIZE: 11px; COLOR: #cc0066; FONT-FAMILY: Arial
}
A.cookie_know_more:link {
	COLOR: #cc0066; TEXT-DECORATION: none
}
A.cookie_know_more:visited {
	COLOR: #cc0066; TEXT-DECORATION: none
}
A.cookie_know_more:hover {
	COLOR: #cc0066; TEXT-DECORATION: none
}
A.cookie_know_more:active {
	COLOR: #cc0066; TEXT-DECORATION: none
}
.pinkArial12px {
	FONT-SIZE: 12px; COLOR: #cc0066; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.pinkArial14px {
	FONT-SIZE: 14px; COLOR: #cc0066; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.greyArial12px {
	FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lnkgreyArial11px {
	FONT-SIZE: 11px; COLOR: #7d7d7d; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lnkgreyArial11px:hover {
	TEXT-DECORATION: underline
}
.MaroonArial18px {
	FONT-SIZE: 18px; COLOR: #732842; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.MaroonArial11px {
	FONT-SIZE: 11px; COLOR: #732842; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navyArial11px {
	FONT-SIZE: 11px; COLOR: #1d3058; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lnkgreyArial10px {
	FONT-SIZE: 10px; COLOR: #7d7d7d; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lnkgreyArial10px:hover {
	TEXT-DECORATION: underline
}
.textHeaderVerd12px {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/heading_bottom_line.gif); COLOR: #732842; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana; HEIGHT: 20px; TEXT-DECORATION: none
}
.topNavGreyArial10px {
	FONT-SIZE: 10px; COLOR: #525552; FONT-FAMILY: Arial; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.topNavGreyArial10px:hover {
	COLOR: #ba3d63
}
.lnkLBlueArial11px {
	FONT-SIZE: 11px; COLOR: #454e6e; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lnkLBlueArial11px:hover {
	TEXT-DECORATION: underline
}
.lnkPinkArial11px {
	FONT-SIZE: 11px; COLOR: #cc0066; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lnkPinkArial11px:hover {
	
}
.lnkLBlueArial11px32 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #454e6e; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lnkLBlueArial11px32:hover {
	TEXT-DECORATION: underline
}
.blueArial11px {
	FONT-SIZE: 11px; COLOR: #485e96; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.pinkFruitger6px {
	FONT-SIZE: 14px; COLOR: #cc0066; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
BR {
	LINE-HEIGHT: 15px
}
.blueArial12px {
	FONT-SIZE: 12px; COLOR: #16344f; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.greyArial12px {
	FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.whiteArial12px {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.whiteArial12px {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: Arial; TEXT-ALIGN: justify
}
A.whiteArial12px:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whiteArial12px:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whiteArial12px:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whiteArial12px:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.MaroonArial12px {
	FONT-SIZE: 12px; COLOR: #732842; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.MaroonArial11px {
	FONT-SIZE: 11px; COLOR: #732842; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pinkArial12px {
	FONT-SIZE: 12px; COLOR: #cc0066; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.MaroonArial18px {
	FONT-SIZE: 18px; COLOR: #732842; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txtheadingBlacknormal {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Verdana
}
.txtheadingBlacknormal_new {
	PADDING-LEFT: 35px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.arena_KnowMore {
	FONT-SIZE: 10px; COLOR: #9a9a9a; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.arena_KnowMore:link {
	COLOR: #9a9a9a; TEXT-DECORATION: none
}
A.arena_KnowMore:visited {
	COLOR: #9a9a9a; TEXT-DECORATION: none
}
A.arena_KnowMore:hover {
	COLOR: #9a9a9a; TEXT-DECORATION: underline
}
A.arena_KnowMore:active {
	COLOR: #9a9a9a; TEXT-DECORATION: none
}
.cookie_dealer_name {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
.txtGrey11px {
	FONT-SIZE: 11px; COLOR: #7e7e7e; LINE-HEIGHT: 16px; FONT-FAMILY: Arial
}
BODY1 {
	MARGIN: 0px
}
SELECT {
	BORDER-TOP: #c8c8c8 1px solid; SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 11px; BORDER-BOTTOM-COLOR: #c8c8c8; SCROLLBAR-HIGHLIGHT-COLOR: #c3c3c3; BORDER-LEFT: #c8c8c8 1px solid; SCROLLBAR-SHADOW-COLOR: #c3c3c3; COLOR: #727272; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #c3c3c3; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: #c3c3c3; SCROLLBAR-BASE-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c8c8c8
}
TEXTAREA1 {
	BORDER-TOP: #c8c8c8 1px solid; FONT-SIZE: 11px; BORDER-BOTTOM-COLOR: #c8c8c8; BORDER-LEFT: #c8c8c8 1px solid; COLOR: #727272; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #c8c8c8
}
.TEXTHEADING {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #af1f40; FONT-FAMILY: Verdana
}
.TEXTHEADINGGRAY {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #828282; FONT-FAMILY: Verdana
}
.TEXTHEADINGSMALL {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #535353; PADDING-TOP: 5px; FONT-FAMILY: Verdana
}
.TEXT {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #535353; FONT-FAMILY: Verdana
}
.rdarial11px {
	FONT-SIZE: 11px; COLOR: #984c68; BORDER-BOTTOM: 1px dotted; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.rdarial11px:link {
	TEXT-DECORATION: none
}
A.rdarial11px:visited {
	TEXT-DECORATION: none
}
A.rdarial11px:hover {
	BORDER-BOTTOM: 0px dotted; TEXT-DECORATION: none
}
A.rdarial11px:active {
	TEXT-DECORATION: none
}
.greyArial12pxnew {
	FONT-SIZE: 12px; WIDTH: 170px; COLOR: #555555; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.greyArial12pxtxtarea {
	FONT-SIZE: 12px; WIDTH: 170px; COLOR: #555555; FONT-FAMILY: Arial; HEIGHT: 66px; TEXT-DECORATION: none
}
.txtGreypxcookie {
	FONT-SIZE: 11px; BACKGROUND: url(../images/div1_bg.jpg) no-repeat 50% bottom; COLOR: #7e7e7e; LINE-HEIGHT: 16px; FONT-FAMILY: Arial
}
.txtGreypxcookie_new {
	FONT-SIZE: 11px; BACKGROUND: url(../Arena/images/div1_bg.jpg) no-repeat 50% top; COLOR: #aeaeae; LINE-HEIGHT: 16px; FONT-FAMILY: Arial
}
.txtGreypxcookie_new_1 {
	FONT-SIZE: 11px; BACKGROUND: url(../Arena/images/div2_bg.jpg) no-repeat 50% top; COLOR: #aeaeae; LINE-HEIGHT: 16px; FONT-FAMILY: Arial
}
.ddltitle {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 10px; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 48px; COLOR: #474747; BORDER-BOTTOM: #d3d3d3 1px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.ddltitle45 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 10px; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 40px; COLOR: #474747; BORDER-BOTTOM: #d3d3d3 1px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.greyverdanal11px {
	FONT-SIZE: 10px; MARGIN: 2px 0px; COLOR: #555555; FONT-FAMILY: Verdana; HEIGHT: 19px; TEXT-DECORATION: none
}
.textbox_energy {
	WIDTH: 117px; COLOR: #555555; FONT-FAMILY: Arial
}
.textbox_energy1 {
	WIDTH: 117px; COLOR: #555555; FONT-FAMILY: Arial
}
.form_txt {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial
}
.textbox4 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 30px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 20px
}
.textbox3 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 80px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 20px
}
.dropdown3 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 44px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 20px
}
.dropdown4 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 128px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 20px
}
.textbox3_1 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 92px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 20px
}
.textbox5 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 127px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 20px
}
TD {
	FONT-SIZE: 11px
}
.LnkGrey11px {
	FONT-SIZE: 11px; COLOR: #7e7e7e; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.redio {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.LnkGrey11px:hover {
	FONT-SIZE: 11px; COLOR: #7e7e7e; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.GreyUnderline11px {
	FONT-SIZE: 11px; COLOR: #7e7e7e; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.GreyUnderline11px:hover {
	FONT-SIZE: 11px; COLOR: #7e7e7e; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.txtWhite11px {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial
}
.LnkWhite11px {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.LnkWhite11px:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.txtPink12px {
	FONT-SIZE: 12px; COLOR: #ca0d54; LINE-HEIGHT: 17px; FONT-FAMILY: Arial
}
.textbox {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.txtWhite12px {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial
}
.textbox1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.grp_radiobtn {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BACKGROUND: #ffffff; VERTICAL-ALIGN: middle; BORDER-LEFT: medium none; COLOR: #555555; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial; TEXT-DECORATION: none; outline: none
}
.lnkLBlueArial11pxltmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #454e6e; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.lnkLBlueArial11pxltmenu:hover {
	TEXT-DECORATION: underline
}
.lnkLBlueArial11pxltmenu1 {
	FONT-SIZE: 10px; COLOR: #c5003d; FONT-FAMILY: Arial
}
.dot_bg {
	BACKGROUND-IMAGE: url(../images/dot_bg.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 18px
}
.lnkLBlueArial11pxltmenu1 {
	FONT-SIZE: 10px; COLOR: #c5003d; FONT-FAMILY: Arial
}
.left_padding {
	PADDING-RIGHT: 10px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tabl_top_padding {
	HEIGHT: 18px
}
.pink_tlt {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 8px; COLOR: #cc0066; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.recyl_text {
	FONT-SIZE: 11px; COLOR: #5d5c5c; FONT-FAMILY: Trebuchet MS,sans-serif; TEXT-ALIGN: justify
}
.recyl_text A {
	FONT-SIZE: 11px; COLOR: #afafaf; FONT-FAMILY: Trebuchet MS,sans-serif; TEXT-DECORATION: underline
}
.recyl_text A:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Trebuchet MS,sans-serif; TEXT-DECORATION: underline
}
.dd_l {
	WIDTH: 113px
}
.background_hometheater {
	BACKGROUND: url(../images/theater_bg.gif) no-repeat 50% top; WIDTH: 828px; HEIGHT: 486px
}
.home_content {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-TRANSFORM: capitalize; COLOR: #848586; FONT-FAMILY: "Trebuchet MS"
}
.home_content_link {
	FONT-SIZE: 12px; COLOR: #848586; FONT-FAMILY: "Trebuchet MS"; TEXT-DECORATION: none
}
.home_content_link A:hover {
	COLOR: #c5003d
}
.you_tube_content {
	FONT-SIZE: 14px; COLOR: #838485; FONT-FAMILY: "Trebuchet MS"
}
.main_transparent {
	BACKGROUND: url(../images/lg_mobile_transparent_bg.gif) no-repeat; WIDTH: 604px; HEIGHT: 410px
}
#tran_bg_div1 {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; Z-INDEX: 110; FILTER: alpha(opacity=80); BORDER-LEFT: #b0b0b0 1px solid; WIDTH: 995px; BORDER-BOTTOM: #b0b0b0 1px solid; POSITION: absolute; TOP: 77px; HEIGHT: 525px; BACKGROUND-COLOR: #ffffff; moz-opacity: 0.7; opacity: .70
}
#GSM_mobile {
	MARGIN-TOP: 80px; DISPLAY: inline; Z-INDEX: 111; MARGIN-LEFT: 200px; WIDTH: 604px; POSITION: absolute; BACKGROUND-COLOR: #ffffff
}
.dropdown5 {
	BORDER-RIGHT: #b8b8b8 1px solid; BORDER-TOP: #b8b8b8 1px solid; BORDER-LEFT: #b8b8b8 1px solid; WIDTH: 160px; BORDER-BOTTOM: #b8b8b8 1px solid
}
.Arial_14 {
	FONT-SIZE: 14px; COLOR: #3d3e3f; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pink_heading_eco {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #c5003d; FONT-FAMILY: Arial, Helvetica, sans-serif
}
