<html><body>
<center>
<table aling="center" height="90%" width="100%">
<p>
  <rowgroup span="3" height="90%">  </rowgroup>
  <img height="16" 
      src="customer/subheading_customercare.gif" 
      width="128" vspace="5" /></p>

<colgroup span="3" width="100%">
</colgroup>
<tr>
<td width=33%>
<p class="style3">SERVICE CENTER LOCATOR</p>
  <p><img src="customer/sup_cc_locatecenter_04.jpg" width="180" height="82"/></p>
  <p>&nbsp;</p></td>
<td  width=33%>
<p class="style3">COMPLAINT 
  REGISTRATION</p>
<p><img src="customer/sup_cc_complaint.gif" width="180" height="82"/></p>
<p>&nbsp;</p></td>
<td width=33%>
<p class="style3">WARRANTY </p>
  <p><img src="customer/sup_cc_warranty.jpg" width="180" height="82"/></p>
  <p>&nbsp;</p></td>
</tr>
<tr>
<td width=33%>
<p class="style3">ANNUAL MAINTENANCE CONTRACT </p>
<img src="customer/sup_cc_annualmaintaince.gif" width="180" height="82"/></td>
<td width=33%>
<p class="style3">EXTENDED WARRANTY </p>
<img src="customer/lg-extended-warranty.jpg" width="180" height="82"/></td>
<td width=33%>
<p class="style3">2.1.1. SERVICE </p>
<img src="customer/ExpLG_211service.jpg" width="180" height="82"/></td>
</tr>

</center>

</body>
</html>
