<html>
<head>
<title>items</title>
<center>
<left>
  <p><img src="contact/subheading_contactus.gif" alt="lg" width="131" height="34"></p></left>
  <TABLE width=500 height="100" border=0 align=left cellPadding=0 cellSpacing=0>
         <TR>
        <TD><STRONG>Corporate 
          Office</STRONG></TD>
      </TR>
      <TR>
        <TD><p><BR>
            <STRONG 
                  class=greyArial12px>Address</STRONG>:<BR>
            PANCHVATI BHAWAN
              BIET, JHANSI 
          <p>PH NO: 9696505316 </p>
		  </TD>
		  </TR>
		  <TR>
		  <td>       
       <p><STRONG>After Sales 
                  Service (Customer Service Department)</STRONG></p>
          <p><STRONG 
                  class=greyArial12px>Address</STRONG><BR>
          VIKRANT KUMAR </p>
          <p>MUZAFFAR NAGAR (U.P.) </p>
          <P><STRONG>Telephone Number - 9696505316 </STRONG><BR>
              <BR>
			  </td></tr>         
</center>
</body>
</head>
</html>
