<html>
<body>
<img height="16" 
      src="wwarn/subheading_warranty.gif" 
      width="90" vspace="5" />
<center>
<table aling="center" height="90%" width="100%">
<rowgroup span="3" height="90%">
</rowgroup>
<colgroup span="3" width="100%">
</colgroup>
<tr>
<td  width=33%><br>
<p class="style3">AIR CONDITIONER </p>
<img src="wwarn/sup_cc_war_tv.gif" width="180" height="82"/></td>
<td  width=33%><br>
<p class="style3">MICROWAVE </p>
<img src="wwarn/sup_cc_war_wm.gif" width="180" height="82"/></td>
<td  width=33%><br>
<p class="style3">REFRIGERATOR </p>
<img src="wwarn/lcd.jpg" width="180" height="82"/></td>
</tr>
<tr>
<td width=33%><br>
<p class="style3">TELEVISION</p>
<img src="wwarn/VC_bg.gif" width="180" height="82"/></td>
<td width=33%><br>
<p class="style3">WASHING MACHINE </p>
<img src="wwarn/sup_cc_war_referi.gif" width="180" height="82"/></td>
<td width=33%><br>
<p class="style3">COMPUTER PRODUCT</p>
<img src="wwarn/sup_cc_war_micro.gif" width="180" height="82"/></td>
</tr>

</center>

</body>
</html>
